.editForm input {
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    border: 2px solid rgba(3, 3, 24, 0.753);
    width: 80%;
    height: 60px;
}
.editForm button {
    width: 30%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(1, 1, 10, 0.753);
    background-color: rgba(3, 3, 24, 0.753);
    color: white;
    font-weight: bold;
}
.editDiv {
    height: 500px;
}